<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mcall.unstoring.dao.UnstoringDao">
	
	<select id="selectUnstoringListCount" resultType="java.lang.Integer">
	SELECT count(seller_id) FROM stock
	</select>
	<select id="selectUnstoringList" resultType="kr.co.mcall.unstoring.model.UnstoringEntity">
	SELECT tmp2.SE as seller_name, tmp2.PN as phone_name, tmp2.VA-st.stockCount as unstoring_value
	FROM stock st,(SELECT tmp.SELLID as SLI, tmp.SELLNAME SE, p.phone_name PN, tmp.VA VA, p.phone_id PI
					FROM phone_info p,(SELECT s.seller_id as SELLID, s.seller_name as SELLNAME, f.phone_id PHOID, f.val VA
										FROM seller s, expect_sales_performance f
										WHERE s.seller_id = f.seller_id)tmp
					WHERE p.phone_id = tmp.PHOID)tmp2
	WHERE st.phone_id = tmp2.PI AND st.seller_id = tmp2.SLI
	ORDER BY tmp2.SE, tmp2.PN;
	</select>
	
</mapper>